[submodule "submodules/OtterGui"]
	path = submodules/OtterGui
	url = https://github.com/jqnxokbmeoiqwncv/OtterGui.git
	branch = CustomizePlus
[submodule "submodules/Penumbra.GameData"]
	path = submodules/Penumbra.GameData
	url = https://github.com/jqnxokbmeoiqwncv/Penumbra.GameData
	branch = CustomizePlus
[submodule "submodules/Penumbra.Api"]
	path = submodules/Penumbra.Api
	url = https://github.com/jqnxokbmeoiqwncv/Penumbra.Api.git
	branch = CustomizePlus
[submodule "submodules/Penumbra.String"]
	path = submodules/Penumbra.String
	url = https://github.com/jqnxokbmeoiqwncv/Penumbra.String.git
	branch = CustomizePlus
[submodule "submodules/ECommons"]
	path = submodules/ECommons
	url = https://github.com/jqnxokbmeoiqwncv/ECommons.git
	branch = CustomizePlus
